# Isi di Vercel Project Settings → Environment Variables
# Ambil dari Supabase Dashboard → Project Settings → API

SUPABASE_URL=https://gfcvpcuknvxgtfpncjdr.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_RWRZgTe2PfP7vJHG_gKPRw_t2WqtsYp